<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-todo</title>
</head>
<body>
 
  <form [formGroup]="form">
    <div class="form-group container pt-4 mt-4">
      <label for="my-input" class="d-flex justify-content-center alert alert-info">Adcione taferas </label>
      <input  class="form-control" formControlName="todo" placeholder="add tarafa" type="text">
      <button class="btn btn-success mt-2" [disabled]="form.invalid" (click)='add()'>Adcionar</button>
      <div  class="row container">
        <small *ngIf="form.controls.todo.invalid && !form.controls.todo.pristine" class="mt-4">Este campo deve conter entre e 60 caracteres</small>
      </div>
    
    </div>
  </form>
  <div class="container mt-3">
    <ul class="list-group">
      <p *ngIf="!todos.length"><span class="alert alert-danger" role="alert">
      Nenhuma tarefa completa ainda!
      </span></p>
      <li class="list-group-item d-flex justify-content-sm-between" *ngFor="let todo of todos">{{todo.todo}}
        <span class="badge badge-primary badge-pill">{{todo.id}}</span>
        <button (click)="markAsDone(todo)" class="btn" *ngIf="!todo.done">Concluir</button>
        <button (click)="markUnDone(todo)" class="btn" *ngIf="todo.done">Refazer</button>
        <button (click)="remover(todo)" class="btn btn-danger ">Remover</button></li>
    </ul>
  </div>

</body>

</html>